<div class="bg-light p-5">
  <div class="container">
    <h1>Home Page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia officiis
      voluptatem animi voluptatum. Nostrum quibusdam a maiores cumque molestias
      explicabo praesentium, voluptate officia veniam, voluptatibus maxime quam
      fugit ducimus? Eveniet.
    </p>
    <button class="btn btn-warning">Show More</button>
  </div>
</div>
<div class="bg-dark text-center p-5 mt-4 text-light">
  <h2>About US</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam nulla et sit,
    alias laudantium voluptatem consectetur eligendi numquam ut dolor modi
    aliquid vitae dicta tempora autem cupiditate mollitia quae! Porro?
  </p>
</div>
