<div class="customBg p-5 text-center text-light">
  <div class="container">
    <h2>Add New Product</h2>
    <form class="mt-5" (submit)="formOperation($event)">
      <input
        type="text"
        value=""
        name="productName"
        class="form-control"
        placeholder="Enter Product Name"
        [(ngModel)]="productName"
      />
      <input
        type="text"
        name="productPrice"
        value=""
        class="form-control mt-3"
        placeholder="Enter Product Price"
        [(ngModel)]="productPrice"
      />
      <button type="submit" class="btn btn-success mt-4">
        {{ productId == 0 ? "Add New Product" : "Edit Product" }}
      </button>
    </form>
  </div>
</div>
