

body{
    height: 3000px;
}
*{
    padding:0;
    margin:0;
    box-sizing: content-box;
}

/*


div#section1{
    background-color: #eee;
    padding:10px

}


#h1 , .section2

{
    background-color: orange;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    font-size: 30px;
    font-family: 'Arial';
    font-style: italic;
    letter-spacing: 10px;
}

.section2{
    background-color: green;
} */


/* div p.head{} */
/* div{
    background-color: #eee;
    padding: 10px;
    margin-bottom: 30px;
}
 */

/*
 a=  b=   c=

 0   1     2
 0   0    1 -- (001)
 -----------------------
 1   0    1 --(101)

*/
/* 
div#section1{
    width:500px;
    background-color: #eee;
    padding: 10px;
    border:10px solid red

} */

/*
width == 

*/
/*Box model 
 width = width + paddingLeft+paddingRight+borderLeft+borderRight;
height = height + paddingTop+paddingBottom+borderTop+borderBottom

*/
/* 
div#section1 h1{
    display: inline;
    width: 50%;
    background-color: red;
}
div#section1 p{
    display: inline;
    width: 50%;
    background-color: green;
} */
/* .first{
    background-color: rgb(227, 166, 166);
    width: 300px;
    padding:10px;
    height: 300px;
    margin-left: 50px;
    position: relative;
}

.second{
    background-color: orange;
    width: 200px;
    height: 200px;
    margin-left: 40px;

}

.third{
    background-color: #000;
    width: 100px;
    height: 100px;
    position: absolute;
    /* position: relative;
 
    left: 30px; 
}

*/

.first{
    width: 100%;
    background-color: #000;
    color:#fff;
    padding:10px;
    position: fixed;
}